MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
OSRM_BASE_URL=https://router.project-osrm.org
MAP_DEFAULT_LATITUDE=10.8505
MAP_DEFAULT_LONGITUDE=76.2711
MAP_DEFAULT_ZOOM=7.5
